  <hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ormdb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root@39</property>
		  <property name="hibernate.show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>

		
		<mapping class="com.mphasis.firsthibernateapp.model.Contact"/>
		<mapping class="com.mphasis.firsthibernateapp.model.User"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Locker"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Customer"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Employee"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Department"/>
		<mapping class="com.mphasis.firsthibernateapp.model.BankAccount"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Currency"/>
		<mapping class="com.mphasis.firsthibernateapp.model.BlogPost"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Comment"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Student"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Course"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Vehicle"/>
		<mapping class="com.mphasis.firsthibernateapp.model.TwoWheeler"/>
		<mapping class="com.mphasis.firsthibernateapp.model.FourWheeler"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Account"/>
		<mapping class="com.mphasis.firsthibernateapp.model.CreditAccount"/>
		<mapping class="com.mphasis.firsthibernateapp.model.DebitAccount"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Product"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Book"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Electronics"/>
		<mapping class="com.mphasis.firsthibernateapp.model.Clothing"/>
		
				
		
						
		
				
		
		
		
		
	</session-factory>
</hibernate-configuration>

